<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
</head>
<style>
    body{
        background-color: aqua;
    }
    label{
        color: darkgreen;
    }
</style>
<body>
    <br><br>
  <h1 style="color: #00498bd4;    font-size: 75px;
    font-family: initial;" align="center">Search the movie :</h1>
    <br><br>
 <div class="container mt-3" style="box-shadow: 0 2px 10px rgba(0,0,0,0.3); height: 160px;width: 400px;" align="text-center"><br><br>
    <form action="/moviesubmit" method="GET">
            <input type="text" class="form-control" placeholder="Enter the movie" name="Title" align="center">            
            <br>
            <div align="center"> 
            <input type="submit" value="Search" class="btn btn-primary">
        </div>
    </form>
</div>
</body>
</html>
